<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my Website</h1><br>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    <h2>Registration</h2>
    <form action="/users/registration"  method ='POST'>
        {% csrf_token %}
        First Name <input type="text" name = "first_name">
        <br>
        Last Name <input type="text" name = 'last_name'>
        <br>
        Email <input type = 'text'  name = 'email'>
        <br>
        Password <input type="password" name = 'password'>
        <br>
        Confirm Password <input type="password" name = 'confirm_password'>
        <br>
        <input type= 'submit'>
    </form>
    <h2>Log In</h2>
    <form action="/users/login"   method ='POST'>
        {% csrf_token %}
        Email <input type = 'text'  name = 'email'>
        <br>
        Password <input type="password" name = 'password'>
        <br>
        <input type= 'submit'>
    </form>

</body>
</html>