<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{user.first_name}}</h1><br>
    <a href='/destroy'>logout</a>
    <h2>Add a Favorite Book</h2>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    <form action="/favorite/books" method = 'POST'>
        {% csrf_token %}
        Title <input type="text" name = 'title'>
        <br>
        Description <textarea id="description" name="description" rows="4" cols="50"></textarea><br>
        <input type="submit">
    </form>
    <br>
    <h2>All Books</h2>
    {% for book in books %}
    <h3><a href="/favorite/books/{{book.id}}/view">{{book.title}}</a></h3>
    <p>{{book.description}}</p>
    <p>(added by {{book.user.first_name}})</p>
    {% endfor %}
    

</body>
</html>